# Python bytecode and compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env
*.env

# Logs
*.log

# Specific extensions to ignore
*.bundles
*.bundlesdata
*.tck

# VSCode settings
.vscode/

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db
